.body-main {
    height: 500px;
    left:50%;
    padding-left: 500px;
}
 
h2 {
    margin-top: 20px;
    color: rgb(39, 120, 242);
}

.button{
    padding-left:110px;
}

.link-btn {
    margin-right: 20px;
}