.header {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgb(247, 241, 234);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header-main-line {
    /* margin-right: 800px; */
    /* align-items: center; */
    padding-top: 13px;
    /* font-weight: bold; */
    color: rgb(17, 78, 233);
    font-size: 1.4rem;
}

.header-ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* margin-right: 15px; */
}

ul {
    list-style-type:none;
}

li {
    margin-right: 25px;
}

